In [2]:
import pandas as pd
import numpy as np
import geocoder

In [3]:
df = pd.read_csv('toronto.csv')
df.head()

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [4]:
print(df.shape)
df.describe()

(103, 3)

       Postalcode     Borough Neighborhood
count         103         103          103
unique        103          10           99
top           M3C  North York    Downsview
freq            1          24            4

In [5]:
def get_latilong(postal_code):
    lati_long_coords = None
    while(lati_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lati_long_coords = g.latlng
    return lati_long_coords
    
get_latilong('M4G')

[43.70909000000006, -79.36409999999995]

In [ ]:
postal_codes = df['Postalcode']    
coords = [ get_latilong(postal_code) for postal_code in postal_codes.tolist() ]

In [ ]:
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']

In [ ]:
df[df.Postalcode == 'M5G']

In [ ]:
df.head(15)

In [ ]:
df.to_csv('toronto_part2.csv',index=False)